<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Testchrome">
  <parameter name="Browser" value="chrome" />
    <classes>
      <class name="org.test.AdactinCrossBrowser"/>
    </classes>
  </test>
  
  <test thread-count="5" name="Testff">
  <parameter name="Browser" value="ff" />
    <classes>
      <class name="org.test.AdactinCrossBrowser"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
